In [36]:
import pandas as pd
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)

In [37]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [103]:
Unique_Player = purchase_data["SN"].value_counts()
Unique_Player

Lisosia93      5
Idastidru52    4
Iral74         4
Aina42         3
Umolrian85     3
              ..
Undirra73      1
Yana46         1
Sondossa69     1
Thryallym62    1
Iasursti71     1
Name: SN, Length: 576, dtype: int64

In [104]:
Length = len(Unique_Player)
Length

576

In [105]:
player_dict = [{"Total Players": Length}]
player_df = pd.DataFrame(data_dict)
player_df

   Total Players
0            576

In [106]:
Sum_Price = purchase_data["Price"].sum()
Sum_Price

2379.77

In [107]:
Unique_Items = purchase_data["Item Name"].value_counts()
Number_Unique = len(Unique_Items)
Number_Unique

179

In [108]:
Number_Purchases = purchase_data["Purchase ID"].value_counts()
Total_Purc = len(Number_Purchases)
Total_Purc

780

In [109]:
Avg_Price = Sum_Price/Total_Purc
Round_Avg_Price = round(Avg_Price,2)
Round_Avg_Price

3.05

In [110]:

purchasing_df = pd.DataFrame(
    {"Number of Unique Items":[Number_Unique],
     "Average Price": ["$" + str(Round_Avg_Price)],
     "Number of Purchases":[Total_Purc],
     "Total Revenue": ["$" + str(Sum_Price)]
    }
)
purchasing_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [112]:
Gender_Count = purchase_data["Gender"].value_counts()
Gender_Count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [101]:
gender_df = pd.DataFrame(
    {"Total Count": [652, 113, 15],
    "Percentage of Players": [652/Length * 100, 113/Length * 100, 15/Length * 100],
    },
    index = ["Male","Female","Other/Non-Disclosed"]
)
gender_df

                     Total Count  Percentage of Players
Male                         652             113.194444
Female                       113              19.618056
Other/Non-Disclosed           15               2.604167