In [36]:
import pandas as pd
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)

In [37]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [103]:
Unique_Player = purchase_data["SN"].value_counts()
Unique_Player

Lisosia93      5
Idastidru52    4
Iral74         4
Aina42         3
Umolrian85     3
              ..
Undirra73      1
Yana46         1
Sondossa69     1
Thryallym62    1
Iasursti71     1
Name: SN, Length: 576, dtype: int64

In [104]:
Length = len(Unique_Player)
Length

576

In [105]:
player_dict = [{"Total Players": Length}]
player_df = pd.DataFrame(data_dict)
player_df

   Total Players
0            576

In [106]:
Sum_Price = purchase_data["Price"].sum()
Sum_Price

2379.77

In [107]:
Unique_Items = purchase_data["Item Name"].value_counts()
Number_Unique = len(Unique_Items)
Number_Unique

179

In [108]:
Number_Purchases = purchase_data["Purchase ID"].value_counts()
Total_Purc = len(Number_Purchases)
Total_Purc

780

In [109]:
Avg_Price = Sum_Price/Total_Purc
Round_Avg_Price = round(Avg_Price,2)
Round_Avg_Price

3.05

In [110]:

purchasing_df = pd.DataFrame(
    {"Number of Unique Items":[Number_Unique],
     "Average Price": ["$" + str(Round_Avg_Price)],
     "Number of Purchases":[Total_Purc],
     "Total Revenue": ["$" + str(Sum_Price)]
    }
)
purchasing_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [118]:
Gender_Count = purchase_data["Gender"].value_counts()
Gender_Count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [134]:
df = purchase_data.set_index("Gender")
df.head()

,Purchase ID,SN,Age,Item ID,Item Name,Price
Gender,,,,,,
Male,0,Lisim78,20,108,"Extraction, Quickblade Of Trembling Hands",3.53
Male,1,Lisovynya38,40,143,Frenzied Scimitar,1.56
Male,2,Ithergue48,24,92,Final Critic,4.88
Male,3,Chamassasya86,24,100,Blindscythe,3.27
Male,4,Iskosia90,23,131,Fury,1.44

In [142]:
Male = df.loc["Male","SN"].value_counts()
Male_Total = len(Male)
Male_Total

484

In [144]:
Female = df.loc["Female","SN"].value_counts()
Female_Total = len(Female)
Female_Total

81

In [146]:
Other = df.loc["Other / Non-Disclosed","SN"].value_counts()
Other_Total = len(Other)
Other_Total

11

In [147]:
gender_df = pd.DataFrame(
    {"Total Count": [Male_Total, Female_Total, Other_Total],
    "Percentage of Players": [Male_Total/Length * 100, Female_Total/Length * 100, Other_Total/Length * 100],
    },
    index = ["Male", "Female", "Other/Non-Disclosed"]
)
gender_df

                     Total Count  Percentage of Players
Male                         484              84.027778
Female                        81              14.062500
Other/Non-Disclosed           11               1.909722

In [159]:
Male_Purch = purchase_data["Gender"].value_counts()
Male_Purch

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [161]:
M_ID = df.loc["Male","Purchase ID"].value_counts()
Male_PID = len(M_ID)
Male_PID

652

In [163]:
F_ID = df.loc["Female","Purchase ID"].value_counts()
Female_PID = len(F_ID)
Female_PID

113

In [165]:
O_ID = df.loc["Other / Non-Disclosed","Purchase ID"].value_counts()
Other_PID = len(O_ID)
Other_PID

15

In [167]:
MTPV = df.loc["Male", "Price"].sum()
MTPV

1967.64

In [168]:
FTPV = df.loc["Female", "Price"].sum()
FTPV

361.94

In [169]:
OTPV = df.loc["Other / Non-Disclosed", "Price"].sum()
OTPV

50.19

In [190]:
Round_F = round((FTPV/Female_PID),2)
Round_F

3.2

In [193]:
Round_M = round((MTPV/Male_PID),2)
Round_M

3.02

In [195]:
Round_O = round((OTPV/Other_PID),2)
Round_O

3.35

In [202]:
Round_Avg_F = round((FTPV/Female_Total),2)
Round_Avg_F

4.47

In [204]:
Round_Avg_M = round((MTPV/Male_Total),2)
Round_Avg_M

4.07

In [206]:
Round_Avg_O = round((OTPV/Other_Total),2)
Round_Avg_O

4.56

In [208]:
purch_analysis_df = pd.DataFrame(
    {"Purchase Count": [" ",Female_PID,Male_PID,Other_PID],
    "Average Purchase Price": [" ","$" + str(Round_F) +"0","$" + str(Round_M),"$" + str(Round_O)],
    "Total Purchase Value": [" ","$" + str(FTPV),"$" + str(MTPV),"$" + str(OTPV)],
    "Avg Total Purchase per Person": [" ",'$'+str(Round_Avg_F),'$'+str(Round_Avg_M),'$'+str(Round_Avg_O)]
    },
    index = ["Gender", "Female", "Male", "Other/Non-Disclosed"]
)
purch_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other/Non-Disclosed,15,$3.35,$50.19,$4.56