In [36]:
import pandas as pd
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)

In [218]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [103]:
Unique_Player = purchase_data["SN"].value_counts()
Unique_Player

Lisosia93      5
Idastidru52    4
Iral74         4
Aina42         3
Umolrian85     3
              ..
Undirra73      1
Yana46         1
Sondossa69     1
Thryallym62    1
Iasursti71     1
Name: SN, Length: 576, dtype: int64

In [104]:
Length = len(Unique_Player)
Length

576

In [105]:
player_dict = [{"Total Players": Length}]
player_df = pd.DataFrame(data_dict)
player_df

   Total Players
0            576

In [106]:
Sum_Price = purchase_data["Price"].sum()
Sum_Price

2379.77

In [107]:
Unique_Items = purchase_data["Item Name"].value_counts()
Number_Unique = len(Unique_Items)
Number_Unique

179

In [108]:
Number_Purchases = purchase_data["Purchase ID"].value_counts()
Total_Purc = len(Number_Purchases)
Total_Purc

780

In [109]:
Avg_Price = Sum_Price/Total_Purc
Round_Avg_Price = round(Avg_Price,2)
Round_Avg_Price

3.05

In [110]:

purchasing_df = pd.DataFrame(
    {"Number of Unique Items":[Number_Unique],
     "Average Price": ["$" + str(Round_Avg_Price)],
     "Number of Purchases":[Total_Purc],
     "Total Revenue": ["$" + str(Sum_Price)]
    }
)
purchasing_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [118]:
Gender_Count = purchase_data["Gender"].value_counts()
Gender_Count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [134]:
df = purchase_data.set_index("Gender")
df.head()

,Purchase ID,SN,Age,Item ID,Item Name,Price
Gender,,,,,,
Male,0,Lisim78,20,108,"Extraction, Quickblade Of Trembling Hands",3.53
Male,1,Lisovynya38,40,143,Frenzied Scimitar,1.56
Male,2,Ithergue48,24,92,Final Critic,4.88
Male,3,Chamassasya86,24,100,Blindscythe,3.27
Male,4,Iskosia90,23,131,Fury,1.44

In [142]:
Male = df.loc["Male","SN"].value_counts()
Male_Total = len(Male)
Male_Total

484

In [144]:
Female = df.loc["Female","SN"].value_counts()
Female_Total = len(Female)
Female_Total

81

In [146]:
Other = df.loc["Other / Non-Disclosed","SN"].value_counts()
Other_Total = len(Other)
Other_Total

11

In [210]:
RoundMT = round((Male_Total/Length * 100),2)
RoundMT

84.03

In [213]:
RoundFT = round((Female_Total/Length * 100),2)
RoundFT

14.06

In [216]:
RoundOT = round((Other_Total/Length * 100),2)
RoundOT

1.91

In [217]:
gender_df = pd.DataFrame(
    {"Total Count": [Male_Total, Female_Total, Other_Total],
    "Percentage of Players": [str(RoundMT) + "%", str(RoundFT) + "%", str(RoundOT) + "%"],
    },
    index = ["Male", "Female", "Other/Non-Disclosed"]
)
gender_df

                     Total Count Percentage of Players
Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%

In [159]:
Male_Purch = purchase_data["Gender"].value_counts()
Male_Purch

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [161]:
M_ID = df.loc["Male","Purchase ID"].value_counts()
Male_PID = len(M_ID)
Male_PID

652

In [163]:
F_ID = df.loc["Female","Purchase ID"].value_counts()
Female_PID = len(F_ID)
Female_PID

113

In [165]:
O_ID = df.loc["Other / Non-Disclosed","Purchase ID"].value_counts()
Other_PID = len(O_ID)
Other_PID

15

In [167]:
MTPV = df.loc["Male", "Price"].sum()
MTPV

1967.64

In [168]:
FTPV = df.loc["Female", "Price"].sum()
FTPV

361.94

In [169]:
OTPV = df.loc["Other / Non-Disclosed", "Price"].sum()
OTPV

50.19

In [190]:
Round_F = round((FTPV/Female_PID),2)
Round_F

3.2

In [193]:
Round_M = round((MTPV/Male_PID),2)
Round_M

3.02

In [195]:
Round_O = round((OTPV/Other_PID),2)
Round_O

3.35

In [202]:
Round_Avg_F = round((FTPV/Female_Total),2)
Round_Avg_F

4.47

In [204]:
Round_Avg_M = round((MTPV/Male_Total),2)
Round_Avg_M

4.07

In [206]:
Round_Avg_O = round((OTPV/Other_Total),2)
Round_Avg_O

4.56

In [208]:
purch_analysis_df = pd.DataFrame(
    {"Purchase Count": [" ",Female_PID,Male_PID,Other_PID],
    "Average Purchase Price": [" ","$" + str(Round_F) +"0","$" + str(Round_M),"$" + str(Round_O)],
    "Total Purchase Value": [" ","$" + str(FTPV),"$" + str(MTPV),"$" + str(OTPV)],
    "Avg Total Purchase per Person": [" ",'$'+str(Round_Avg_F),'$'+str(Round_Avg_M),'$'+str(Round_Avg_O)]
    },
    index = ["Gender", "Female", "Male", "Other/Non-Disclosed"]
)
purch_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other/Non-Disclosed,15,$3.35,$50.19,$4.56

In [219]:
age_bin = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]

age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [280]:
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], age_bin, labels = age_groups, include_lowest = True)

In [283]:
ID_count = count_age_df["Purchase ID"]
ID_count

Age Range
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [327]:
less10 = purchase_data[purchase_data["Age Range"] =='<10']
less10_total = less10['SN'].value_counts().count()
less15 = purchase_data[purchase_data["Age Range"] =='10-14']
less15_total = less15['SN'].value_counts().count()
less20 = purchase_data[purchase_data["Age Range"] =='15-19']
less20_total = less20['SN'].value_counts().count()
less25 = purchase_data[purchase_data["Age Range"] =='20-24']
less25_total = less25['SN'].value_counts().count()
less30 = purchase_data[purchase_data["Age Range"] =='25-29']
less30_total = less30['SN'].value_counts().count()
less35 = purchase_data[purchase_data["Age Range"] =='30-34']
less35_total = less35['SN'].value_counts().count()
less40 = purchase_data[purchase_data["Age Range"] =='35-39']
less40_total = less40['SN'].value_counts().count()
more40 = purchase_data[purchase_data["Age Range"] =='40+']
more40_total = more40['SN'].value_counts().count()

In [328]:
age_demo_df = pd.DataFrame(
    {"Total Count": [less10_total, less15_total,less20_total,less25_total,less30_total,less35_total,less40_total,more40_total],
    "Percentage of Players": [less10_total/Length, less15_total/Length, less20_total/Length, less25_total/Length, less30_total/Length, less35_total/Length,less40_total/Length,more40_total/Length],
    },
    index = [age_groups]
)
age_demo_df

       Total Count  Percentage of Players
<10             17               0.029514
10-14           22               0.038194
15-19          107               0.185764
20-24          258               0.447917
25-29           77               0.133681
30-34           52               0.090278
35-39           31               0.053819
40+             12               0.020833

In [337]:
total_age_df = purchase_data.groupby(["Age Range"]).sum()
average_age_df = purchase_data.groupby(["Age Range"]).mean()
count_age_df = purchase_data.groupby(["Age Range"]).count()
sn_age_df = purchase_data.groupby(["Age Range"])['SN'].nunique()
count_age_df

           Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Range
<10                 23   23   23      23       23         23     23
10-14               28   28   28      28       28         28     28
15-19              136  136  136     136      136        136    136
20-24              365  365  365     365      365        365    365
25-29              101  101  101     101      101        101    101
30-34               73   73   73      73       73         73     73
35-39               41   41   41      41       41         41     41
40+                 13   13   13      13       13         13     13

In [408]:
age_purchase_df = pd.DataFrame(
    {"Purchase Count": ["Numbers"],
    "Average Purchase Price": ["Numbers"],
    "Total Purchase Price": ["Numbers"],
    "Avg Total Purchase per Person": ["Numbers"],
    },
    index = [age_groups]
)
age_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
<10,Numbers,Numbers,Numbers,Numbers
10-14,Numbers,Numbers,Numbers,Numbers
15-19,Numbers,Numbers,Numbers,Numbers
20-24,Numbers,Numbers,Numbers,Numbers
25-29,Numbers,Numbers,Numbers,Numbers
30-34,Numbers,Numbers,Numbers,Numbers
35-39,Numbers,Numbers,Numbers,Numbers
40+,Numbers,Numbers,Numbers,Numbers

In [411]:
top_spenders_df = pd.DataFrame(
    {"Purchase Count": [" ", Liso_Total, Idas_Total, Cham_Total, Iral_Total, Iska_Total],
    "Average Purchase Price": [" ", Liso_Avg, Idas_Avg, Cham_Avg, Iral_Avg, Iska_Avg],
    "Total Purchase Value": [" ", Liso_Sum, Idas_Sum, Cham_Sum, Iral_Sum, Iska_Sum],
    },
    index = ["SN", "Lisosia93", "Idastidru52", "Chamjask73", "Iral74", "Iskadarya95"]
)
top_spenders_df

            Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                5    $3.7920000000000003               $18.96
Idastidru52              4                $3.8625               $15.45
Chamjask73               3                  $4.61               $13.83
Iral74                   4    $3.4049999999999994  $13.619999999999997
Iskadarya95              3     $4.366666666666666                $13.1

In [369]:
p_count = purchase_data[purchase_data["SN"] == 'Lisosia93'].describe()
p_count

       Purchase ID   Age     Item ID     Price
count     5.000000   5.0    5.000000  5.000000
mean    326.000000  25.0   88.400000  3.792000
std     261.324511   0.0   57.221499  0.963831
min      74.000000  25.0   24.000000  2.520000
25%     120.000000  25.0   40.000000  3.190000
50%     224.000000  25.0   89.000000  3.810000
75%     603.000000  25.0  132.000000  4.640000
max     609.000000  25.0  157.000000  4.800000

In [374]:
SN_index = purchase_data.set_index("SN")
SN_index.head()

,Purchase ID,Age,Gender,Item ID,Item Name,Price,Age Range
SN,,,,,,,
Lisim78,0,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
Lisovynya38,1,40,Male,143,Frenzied Scimitar,1.56,40+
Ithergue48,2,24,Male,92,Final Critic,4.88,20-24
Chamassasya86,3,24,Male,100,Blindscythe,3.27,20-24
Iskosia90,4,23,Male,131,Fury,1.44,20-24

In [392]:
Liso = SN_index.loc["Lisosia93", "Purchase ID"].value_counts()
Liso_Total = len(Liso)
Liso_Total
Idas = SN_index.loc["Idastidru52", "Purchase ID"].value_counts()
Idas_Total = len(Idas)
Idas_Total
Cham = SN_index.loc["Chamjask73", "Purchase ID"].value_counts()
Cham_Total = len(Cham)
Cham_Total
Iral = SN_index.loc["Iral74", "Purchase ID"].value_counts()
Iral_Total = len(Iral)
Iral_Total
Iska = SN_index.loc["Iskadarya95", "Purchase ID"].value_counts()
Iska_Total = len(Iska)
Iska_Total

3

In [407]:
Liso_Avg = "$" + str(SN_index.loc["Lisosia93", "Price"].mean())
Liso_Avg
Idas_Avg = "$" + str(SN_index.loc["Idastidru52", "Price"].mean())
Idas_Avg
Cham_Avg = "$" + str(SN_index.loc["Chamjask73", "Price"].mean())
Cham_Avg
Iral_Avg = "$" + str(SN_index.loc["Iral74", "Price"].mean())
Iral_Avg
Iska_Avg = "$" + str(SN_index.loc["Iskadarya95", "Price"].mean())
Iska_Avg

'$4.366666666666666'

In [412]:
Liso_Sum = "$" + str(SN_index.loc["Lisosia93", "Price"].sum())
Liso_Sum
Idas_Sum = "$" + str(SN_index.loc["Idastidru52", "Price"].sum())
Idas_Sum
Cham_Sum = "$" + str(SN_index.loc["Chamjask73", "Price"].sum())
Cham_Sum
Iral_Sum = "$" + str(SN_index.loc["Iral74", "Price"].sum())
Iral_Sum
Iska_Sum = "$" + str(SN_index.loc["Iskadarya95", "Price"].sum())
Iska_Sum

'$13.1'

In [415]:
Item_Name = ["Final Critic", "Oathbreaker, Last Hope of the Breaking Storm", "Fiery Glass Crusader", "Persuasion", "Extraction, Quickblade of Trembling Hands"]

In [419]:
Pop_Items_df = pd.DataFrame(
    {"Purchase Count": ["Numbers"],
    "Item Price": ["Numbers"],
    "Total Purchase Value": ["Numbers"],
    },
    index = [Item_Name]
)
Pop_Items_df

,Purchase Count,Item Price,Total Purchase Value
Final Critic,Numbers,Numbers,Numbers
"Oathbreaker, Last Hope of the Breaking Storm",Numbers,Numbers,Numbers
Fiery Glass Crusader,Numbers,Numbers,Numbers
Persuasion,Numbers,Numbers,Numbers
"Extraction, Quickblade of Trembling Hands",Numbers,Numbers,Numbers